<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lansu.dew.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lansu.dew.domain.UserEntity">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
    </resultMap>
    <sql id="Base_Column_List">
        `user_id`, `username`, `password`, `email`, `enable`
    </sql>

</mapper>